/**********************
GENERAL
**********************/

body {
  background-color: rgb(232,12,223);
  color: rgb(255,255,255);
  font-family: 'Kalam', cursive;
  font-weight: bold;
}

.game-button {
  background-color: rgb(255,255,255);
  color: rgb(232,12,223);
  font-weight: bold;
  border-radius: 10%;
}

.game-button:hover {
  background-color: rgb(232, 100, 223);
  color: rgb(255,255,255);
}

.game-button:active {
  background-color: rgb(232, 100, 223);
  color: rgb(255,255,255);
}

#wrapper {
  margin: 0px 20px;
}


/**********************
NAVBAR
**********************/

nav {
  background-color: rgb(255,255,255);
  color: rgb(232,12,223);
  width: auto;
}

h1 {
  font-size: 6em;
  text-align: center;
  font-family: 'Kalam', cursive;
  font-weight: bold;
}

/**********************
MAIN
**********************/

#wrapper {
  margin: 75px 0;
}

#gameboard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 300px;
}

#x, #y {
  max-height: 250px;
  max-width: 175px;
  height: 140px;
  width: 110px;
  line-height: 140px;
  border-radius: 50%;
  background-color: rgb(255,255,255);
  color: rgb(232,12,223);
  text-align: center;
  font-size: 5em;
}

#operator {
  text-align: center;
  font-size: 6em;
}

#kylie_red {
  border-radius: 50%;
  max-height: 300px;
  max-width: 225px;
  padding: 0;
  margin: 0;
}

.digits {
  padding: 0;
}

.columns {
  display: flex;
  justify-content: center;
  padding: 0;
}

.problem-column {
  height: 140px;
}

.play-button {
  display: inline-block;
  margin: 0;
  height: 30px;
}

#button-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#answerForm {
  width: 300px;
  padding: 0;
  margin: 0 0 0 15px;
}

input[type=text] {
  color: rgb(232,12,223);
  border-radius: 10px;
}

#correctPhrasesDiv {
  font-size: 7em;
  text-align: center;
}

/**********************
FOOTER
**********************/


/**********************
MOBILE
**********************/
@media only screen and (max-width: 800px) {
  #gameboard {
    padding: 0 20px;
    height: 200px
  }
  #correctPhrasesDiv {
    font-size: 4em;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
  #kylie_red {
    /*height: 200px;
    width: 145px;
    margin: 0 0 20px 0;*/
    display: none;
  }
  #button-column {
    height: 75px;
    width: 550px;
    margin-top: 20px;
  }
  #answerForm {
    width: 250px;
  }
  #gameboard {
    width: 550px;
  }
  #correctPhrasesDiv {
    font-size: 4em;
  }
  .problem-column {
    margin-bottom: 10px;
  }
  #x-column {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 3em;
  }
  #kylie_red {
    margin: 0 0 20px 0;
  }
  #button-column {
    height: 75px;
    width: 400px;
    margin-top: 20px;
  }
  #answerForm {
    width: 200px;
  }
  #gameboard {
    width: 400px;
  }
  #correctPhrasesDiv {
    font-size: 4em;
  }
  .problem-column {
    margin-bottom: 10px;
  }
  #x-column {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3em;
  }
  #kylie_red {
    margin: 0 0 20px 0;
  }
  #button-column {
    height: 75px;
    width: 375px;
    margin-top: 20px;
  }
  #answerForm {
    width: 200px;
  }
  #gameboard {
    width: 375px;
  }
  #correctPhrasesDiv {
    font-size: 4em;
  }
  .problem-column {
    margin-bottom: 10px;
  }
  #x-column {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 3em;
  }
  #kylie_red {
    margin: 0 0 20px 0;
  }
  #button-column {
    height: 75px;
    width: 320px;
    margin-top: 40px;
  }
  #answerForm {
    width: 200px;
  }
  #gameboard {
    width: 320px;
  }
  #correctPhrasesDiv {
    font-size: 4em;
  }
  .problem-column {
    margin-bottom: 15px;
  }
  #x-column {
    margin-left: 50px;
  }
}
